---
import Mainlayout from "../layouts/Mainlayout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<header> <nav class="navigation">
    <a href="#" class="logo">Logo</a>
    <ul class="menu">
      <li class="menu-item">
        <a href="#" class="menu-link">Festivalen <span class="arrow-down"></span></a>
        <ul class="sub-menu">
          <li><a href="#">Program</a></li>
          <li><a href="#">Festival Map</a></li>
          <li><a href="#">Tidligere Festival</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">Book</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">Om Os <span class="arrow-down"></span></a>
        <ul class="sub-menu">
          <li><a href="#">Hvem er vi</a></li>
          <li><a href="#">Hvem er kunstnerne</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </li>
      <li class="divider">|</li>
      <li class="menu-item">
        <a href="#" class="menu-link">DA</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">EN</a>
      </li>
      <li class="search-btn">🔍</li>
    </ul>
  </nav></header>
<main> 
    <slot/>
</main>
<footer></footer>
	</body>
</html>
