---
import Mainlayout from "./Mainlayout.astro";
import Nyhedsbrev from "../components/Nyhedsbrev.astro";
import Animation from "../components/Animation.astro";
import Cards from "../components/Cards.astro"
import Festivalmap from "../components/Festivalmap.astro" 
---

<Mainlayout>
	<Animation/>
	<h2>Indlev dig i københavns magiske lysfestival</h2>
	<p>Skab din ultimative oplevelse! Oplev betagende lysværker, spændende events og unikke festivaloplevelser</p>

<Cards/>
<Festivalmap/>

</Mainlayout>

