---
import Festivalen from "./festivalen.astro";
---
<Festivalen></Festivalen>
<!DOCTYPE html>
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../layouts/navfooter.css">
		<title>Astro</title>
	</head>
	<body>
<header>   
  <nav class="navigation">
    <a href="index.astro" class="logo"> <img src="src/pics/logo.svg" alt=""></a>
    <div class="burger-icon">&#9776;</div>
    <ul class="menu">
      <li class="menu-item">
        <a href="" class="menu-link">FESTIVALEN <i class="arrowdown"></i></span></a>
        <ul class="sub-menu">
          <li><a href="#" class="undermenu">FESTIVAL MAP</a></li>
          <li><a href="#"class="undermenu">TIDLIGERE FESTIVALER</a></li>
          <li>
            <a href="src/pages/festivalen.astro" class="undermenu" >PROGRAM</span></a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">BOOK</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">OM OS <i class="arrowdown"></i></span></a>
        <ul class="sub-menu">
          <li><a href="#" class="undermenu">HVEM ER VI</a></li>
          <li><a href="#" class="undermenu">HVEM ER KUNSTNERE</a></li>
          <li><a href="#" class="undermenu">KONTAKT</a></li>
        </ul>
      </li>
      
        <li class="divider">|</li>
        <div class="grid">
        <li class="menu-item">
        <a href="#" class="gradient-text">DA</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">EN</a>
      </li>
      <li class="search-icon" ><a href="#"></a></li></div>
    </ul>
  </nav></header>



<main> 
    <slot/>
</main>
<footer>
  <div class="footer">
    <div class="kontakt-footer"> <a href="#" class="kontakt-footer">Kontakt</a>
    <p>info@copenhagenlightfestival.org</p><p>Tlf: +45 25 55 66 04</p></div>
  <div class="link-footer"><a href="#" class="link-footer">Partnere</a>
  <a href="#" class="link-footer">Sponsere</a><a href="#" class="link-footer">FAQ</a></div>
<div class="footer-mobil">
  <div class="logos"
  ><img src="src/pics/logo.svg" alt="logo"></div>
<div class="links-footer" >
<a href="#"><img src="src/pics/facebook.svg" alt="facebook"></a>
<a href="#"><img src="src/pics/instagram.svg" alt="instagram"></a> <a href="#"><img src="src/pics/youtube.svg" alt="youtube"></a></div></div>
  

  </div>
</footer>
	</body>
  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const menuLinks = document.querySelectorAll(".menu-link");
    
      menuLinks.forEach(function(link) {
        link.addEventListener("click", function(event) {
          event.preventDefault();
          this.parentNode.classList.toggle("active");
        });
      });
    });
    document.addEventListener("DOMContentLoaded", function() {
    const burgerIcon = document.querySelector(".burger-icon");
    const menu = document.querySelector(".menu");

    burgerIcon.addEventListener("click", function() {
      menu.classList.toggle("active");
    });
  });
        </script>

</html>

