---

---


<div class="triangle-ned"></div>

.triangle-ned {
	width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 25px solid #97D5F3; /* Blue color with 50% opacity */
		border-bottom: none;
		filter: blur(3px); /* Add blur effect */
       
}

