---

---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

<div class="card-boxes">

<div class="individual-cards">
	<div>
<img src="pics/program.webp" alt="program">
</div>
<div class="pil">
<h3>Program</h3>
 <div class="triangle-side">
    <img src="/pics/lillepil.svg" alt="lillepil">
 </div>
 </div>
</div>

<div class="individual-cards">
	<div>
<img src="/pics/oplevelser.webp" alt="oplevelser">
</div>
<div class="pil">
<h3>Oplevelser</h3>
 <div class="triangle-side">
    <img src="/pics/lillepil.svg" alt="lillepil">
 </div>
 </div>
</div>


<div class="individual-cards">
	<div>
<img src="/pics/events.webp" alt="events">
</div>
<div class="pil">
<h3>Events
</h3>
 <div class="triangle-side">
    <img src="/pics/lillepil.svg" alt="lillepil">
 </div>
 </div>
</div>
</div>


<style>
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
    @media (min-width: 800px) {
.card-boxes {
	display: flex;
	justify-content: center;
	padding-left: 20px;
	padding-right: 20%;
    padding-top: 100px;
    margin: 0 auto; /* Add this line */
}
}


.individual-cards {
    color: aliceblue;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    
}


.triangle-side {
	padding-top: 15px;
       
}

.pil {
	display: flex;
	justify-content: center;
	gap: 10px;
    padding-top: 10px;
    
}
</style>