---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<header>   
  <nav class="navigation">
    <a href="src/pages/index.astro" class="logo"> <img src="src/pics/logo.svg" alt=""></a>
    <div class="burger-icon">&#9776;</div>
    <ul class="menu">
      <li class="menu-item">
        <a href="#" class="menu-link">FESTIVALEN <i class="arrowdown"></i></span></a>
        <ul class="sub-menu">
          <li><a href="#" class="undermenu">FESTIVAL MAP</a></li>
          <li><a href="#"class="undermenu">TIDLIGERE FESTIVALER</a></li>
          <li>
            <a href="../pages/festivalen.astro"class="undermenu" >PROGRAM</span></a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">BOOK</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">OM OS <i class="arrowdown"></i></span></a>
        <ul class="sub-menu">
          <li><a href="#" class="undermenu">HVEM ER VI</a></li>
          <li><a href="#" class="undermenu">HVEM ER KUNSTNERE</a></li>
          <li><a href="#" class="undermenu">KONTAKT</a></li>
        </ul>
      </li>
      
        <li class="divider">|</li>
        <div class="grid">
        <li class="menu-item">
        <a href="#" class="gradient-text">DA</a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-link">EN</a>
      </li>
      <li class="search-icon" ><a href="#"></a></li></div>
    </ul>
  </nav></header>



<main> 
    <slot/>
</main>
<footer></footer>
	</body>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const menuLinks = document.querySelectorAll(".menu-link");
    
      menuLinks.forEach(function(link) {
        link.addEventListener("click", function(event) {
          event.preventDefault();
          this.parentNode.classList.toggle("active");
        });
      });
    });
    document.addEventListener("DOMContentLoaded", function() {
    const burgerIcon = document.querySelector(".burger-icon");
    const menu = document.querySelector(".menu");

    burgerIcon.addEventListener("click", function() {
      menu.classList.toggle("active");
    });
  });
        </script>

</html>

<style>
	@media (min-width: 768px) {
    h1, h2, h3, p, li, a {font-family: Arial, Helvetica, sans-serif;

    }
    .burger-icon {
      display: none;
    }

.navigation {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: #fff;
  text-decoration: none;

}

.logo {
  text-decoration: none;
  color: #fff;
}
.logo img {
  width: 50%;
}
.menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  position: relative;
}

.menu-item {
  position: relative;
  margin-left: 20px;
  list-style: none;
  text-decoration: none;
}
.menu-item.active .sub-menu {
  display: block;
}

.menu-item.active {
  background-image: linear-gradient(to right, rgba(68, 191, 190, 1), rgba(85, 129, 205, 1), rgba(182, 90, 167, 1), rgba(245, 77, 71, 1));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.gradient-text {
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(68, 191, 190, 1), rgba(85, 129, 205, 1),rgba(182, 90, 167, 1),rgba(245, 77, 71, 1));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.menu-link {
  color: #fff;
  position: relative;
  list-style: none;
  text-decoration: none;
}
.menu-link:hover {
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(68, 191, 190, 1), rgba(85, 129, 205, 1),rgba(182, 90, 167, 1),rgba(245, 77, 71, 1));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.sub-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  right: 50px;
  display: none;
  background-color: #00000085; /* Ændre farven efter dine behov */
  padding: 10px;
  list-style: none;
  text-decoration: none;
  text-align: center;
  justify-content: space-between;
  width: 200%;
}
.sub-menu li {
  display: inline-block;
  margin: 20px 0px;
  flex-grow: 1;
}

.sub-menu li:hover {
  border-bottom: 2px solid white; 
}

.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu li {
  margin-left: 0;
}


.arrowdown {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  padding-bottom: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 3px;
  margin-left: 3px;
}
.arrowdown:hover {
border-color: rgba(68, 191, 190, 1);
}

.undermenu{
	color: white;
	text-decoration: none;
}
.search-icon {
  margin-left: 20px;
width: 20px;
  height: 20px;
background-image: url('src/pics/search.svg');
background-size: cover;

 }

.search-icon:hover {
  background-image: url('src/pics/hover-search.svg');

}
.divider {
  margin: 0 10px;
  color: #fff;
}
  }
  @media (max-width: 768px) {
      .burger-icon {
        display: block;
        position: absolute;
        top: 25px;
        right: 30px;
        cursor: pointer;
        font-size: 2rem;
        color: white;
        z-index: 999;

      }

      .menu {
        display: none;
        position: absolute;
        top: 60px; /* Adjust as needed */
        right: 20px;
        background-color: rgba(0, 0, 0, 0.703);
        padding: 20px;
        z-index: 998;
        list-style: none;
      }

      .menu.active {
        display: block;
      }
      .logo img {
  width: 40%;
}
   .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  text-decoration: none;

} 
.menu-item {
    position: relative;
    padding: 10px;
    align-items: center;
    text-align: center;
  }



  .menu-item .sub-menu {
    display: none;
    position: relative;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    text-decoration: none;
    list-style: none;
  }

  .menu-item.active .sub-menu {
    display: block;
  }

  .menu-link {
    color: #fff;
    text-decoration: none;
    position: relative;
  }

  .menu-link .arrowdown {
    display: inline-block;
    margin-left: 5px;
    color: #fff; 
    font-size: 14px; 
  }

  .menu-link:hover .arrowdown {
    color: #fff; 
  }

  .menu-link:hover .sub-menu {
    display: block;
  }

  .sub-menu li {
    margin: 10px 0;
  }

  .undermenu {
    color: #fff;
    text-decoration: none;
  }
  .divider {
display: none;
}
.menu-link:hover {
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(68, 191, 190, 1), rgba(85, 129, 205, 1),rgba(182, 90, 167, 1),rgba(245, 77, 71, 1));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.arrowdown {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  padding-bottom: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 3px;
  margin-left: 3px;
}
.sub-menu li:hover {
  border-bottom: 2px solid white; 
}
.gradient-text {
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(68, 191, 190, 1), rgba(85, 129, 205, 1),rgba(182, 90, 167, 1),rgba(245, 77, 71, 1));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.search-icon {
  margin-left: 20px;
width: 20px;
  height: 20px;
background-image: url('src/pics/search.svg');
background-size: cover;

 }

.search-icon:hover {
  background-image: url('src/pics/hover-search.svg');

}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  align-items: center;
  text-align: center;
}
  }
</style>

